/* ESTILOS SKILLS */ /* ESTILOS SKILLS *//* ESTILOS SKILLS *//* ESTILOS SKILLS *//* ESTILOS SKILLS *//* ESTILOS SKILLS *//* ESTILOS SKILLS *//* ESTILOS SKILLS *//* ESTILOS SKILLS */

.skills-content {

    display: flex;

}

.skills {

    min-height: 50vh;
    background-color: #000b1c;
    color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

.subtitle {

    margin-top: 40px;
    margin-bottom: 15px;
    text-align: center;
    color: white;
    background: #a73587;
    width: 50%;
    border-radius: 25px;

}
  
.icons {

    padding: 10px;
    margin: 10px;
    border-radius: 1px solid #ffffff;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0s;
    cursor: pointer;

}

.icons:hover{

    color: #a73587;
    transform: translateY(-20px);
    transition: 0.15s;

}
  
.tech {

    font-size: 15px;
    margin-top: 5px;

}
  
.skillsContainer {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
  
@media only screen and (max-width: 450px) {

    .skillsContainer {
      width: 80%;
      margin-bottom: 20px;
    }

}